<!--
Video tutorial at:
http://onehungrymind.com/angularjs-communicating-between-controllers/

http://www.thinkster.io/pick/51d26e1f1d7225cb4b000003/angularjs-sharing-data-between-controllers
-->
<div ng-controller="ControllerOriginate" class="pager">
    <input ng-model="message" class="input-medium"/>
    <button class="btn-small" ng-click="push(message);">Broadcast</button>
    <h3 class="info">{{ msgText }}</h3>
</div>

<div ng-controller="ControllerReceiver1" class="pager">
    <input ng-model="message" class="input-medium"/>
</div>

<div ng-controller="ControllerReceiver2" class="pager">
    <input ng-model="message" class="input-medium"/>
</div>

<div ng-controller="ControllerReceiver3" class="pager">
    <input ng-model="message" class="input-medium"/>
</div>
