<div enterdiv="btn-large" leavediv>
	 Panel div
</div>

<div enterouterdiv="panel" leaveouterdiv>
	outer div
	<div enterinnerdiv="placeholder" leaveinnerdiv>
		 inner div
	</div>
</div>

<div ng-controller="digitFormController" class="well">
    <form novalidate class="css-form" name="digitForm">
        <div><span class="text-info">Age</span>
            <input type="number" ng-model="user.age" placeholder="18"
									 name="uAge" class="input-medium" integer required/>
					<span ng-show="digitForm.uAge.$error.required">Share your age
					with us.</span>
					<span ng-show="digitForm.uAge.$error.integer"> Invalid number.</span>
					<span class="info" ng-bind="user.age"/>
        </div>

			<div><span class="text-info">Tax</span>
				<input type="text" ng-model="user.tax" placeholder="2.5"
							 name="uTax" class="input-medium" smart-float required/>
				<!-- Directive for Element-->
					<span
							ng-show="digitForm.uTax.$error.required"><attrtaxrequired></attrtaxrequired></span>
				<span ng-show="digitForm.uTax.$error.float"> Invalid
					entry.</span>
				<span class="info" ng-bind="user.tax"/>
			</div>
			<!-- Directive for Attribute -->
			<div attrtaxrequired flash class="attrtaxrequired" >
			<!-- Directive  M: comment
			  It should be directive:<<your M restrict directive name>>
			-->
				<!-- directive:attrtaxrequired -->
			</div>

        </form>

    </div>