<div>
	<!--
	http://www.thinkster.io/pick/soaqKb2sPr/angularjs-directive-communication
	-->
	<country>
		<state>
			<city>

			</city>
		</state>
	</country>
</div>
	   <span draggable> Drag me</span>
		<!---->

		<div draggable ng-controller="expandCtrl">
			<expand class="expander" expand-title="Click to expand">
				{{text}}
			</expand>
		</div>
<!-- accordion example-->
		<div ng-controller="accordionCtrl" style="margin-top: 10px;">

			     <acrrordmsg>
						 <acrdexpander class="acrdexpander"
											 ng-repeat="acrdexpander in acrdexpanders"
											 acrdexpander-title="{{acrdexpander.title}}">

							 {{acrdexpander.text}}
						 </acrdexpander>
			     </acrrordmsg>
		</div>