<!--
http://www.thinkster.io/pick/51d26fd51d7225edb4000004/angularjs-defining-a-method-on-the-scope
-->
<h1 class="page-header"> Method on the scope</h1>

<div ng-controller="ControllerReverse" class="pager">
    <input ng-model="message" class="input-medium"/>
    <!-- ng-bind directive-->
    <h3 ng-bind="reverseMessage(message)"> </h3>
    <!-- ng-bind directive similar as {{  }}-->
    <h3> {{  reverseMessage(message)}} </h3>

    <h1 class="page-header"> Expressions</h1>
    <input ng-model="amount" class="input-medium"/>
    <input ng-model="rate" class="input-medium"/>
    {{ amount*rate|currency }}
</div>

